Asheville NC	asheville:35.58
Bridgeton NJ	bridgeton:39.43
Davis CA	davis:38.55
Geneva NY	geneva:42.88
Homestead FL	homestead:25.47
Riverside CA	riverside:33.95
Salem OR	salem:44.93
Wenatchee WA	wneatchee:47.42
