# Configuration file for the queue_genotype_workflow tool.

[defaults]

# This section contains default settings for command line parameters that
# can be overridden when they are passed to executed scripts.

ALL_GENOTYPED_SAMPLES_LIBRARY_NAME = All Genotyped Samples
GALAXY_BASE_URL = http://localhost:8763
WORKFLOW_NAME = CoralSNP
