# Configuration file for the queue_genotype_workflow tool.

[defaults]

# This section contains default settings for command line parameters that
# can be overridden when they are passed to executed scripts.

ADMIN_API_KEY = 89erituieru83ihefi3838928358kefdk9
ALL_GENOTYPED_SAMPLES_STORAGE_DIR = /tmp/all_genotyped_samples
ALL_GENOTYPED_SAMPLES_DATASET_NAME = all_genotyped_samples.vcf
ALL_GENOTYPED_SAMPLES_LIBRARY_NAME = All Genotyped Samples
CORALSNP_WORKFLOW_NAME = CoralSNP
ENSURE_SYNCED_WORKFLOW_NAME = EnsureSynced
FILTER_ALL_GENOTYPED_SAMPLES_WORKFLOW_NAME = FilterAllGenotypedSamples
GALAXY_BASE_URL = http://localhost:8763
VALIDATE_AFFY_METADATA_WORKFLOW_NAME = ValidateAffyMetadata
